/* #region common */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --zoom-black: black;
    --zoom-dark: #222222;
    --zoom-primary: #4a4a4a;
    --zoom-success: #4bc800;
    --zoom-danger: #f52838;
    --zoom-white: white;
}


/* #rendegion common */

/* #region utility */

.container
{
    max-width: 1152px;
    margin: auto;
    width: 90%;

}

.d_flex
{
    display: flex;
}

.flex_wrap
{
    flex-wrap: wrap;
}

.justify_content_center
{
    justify-content: center;
}

.text_end
{
    align-items: end;
}

.btn
{
    background-color: transparent;
    border: none;
    padding: 0.25rem;
    border-radius: 0.25rem;
}

.btn_dark
{
    background-color: var(--zoom-primary);
    color: var(--zoom-white);
}

img
{
    max-width: 100%; /* 100% del proprio contenitore, cosi non danno fastidio */
}


/* #endregion utility */

/* #region debug */

.debug .wrapper
{
    background-color: red;
}

.debug .top_toolbar
{
    background-color: gray;
}

.debug .partecipant
{
    aspect-ratio: 1/1;
    background-color: gray;
}

.debug .left, .debug .right, .debug .center
{
    border: 1px dashed white;
    height: 100%;
}
/* #endregion debug */

/* #region main */

body
{
    background-color: var(--zoom-black);
}

.wrapper
{
    height: 100vh;
    overflow: hidden;
}

.top
{
    height: calc(100% - 55px);
}

.top_toolbar
{
    padding: 0.5rem;
    text-align: end;
}

.partecipants
{
    padding: 2rem 0;
    overflow-y: auto; /* fa apparire una scrollbar verticale */
}

.partecipants .container
{
    gap: 0.5rem;
}

.partecipants .partecipant
{
    width: calc((100% / 7) - 0.5rem);
}


/* #endregion main */

/* #region footer */


footer.toolbar
{
    
    background-color: var(--zoom-dark);
    display: flex;
    color: var(--zoom-white);
    align-items: center;
}

footer.toolbar > .left,
footer.toolbar > .right
{
    flex-grow: 1;
    padding: 0.5rem;
}

footer.toolbar > .center
{
    flex-grow: 2;
    padding: 0.5rem;
}

footer.toolbar > .left,
footer.toolbar > .center,
footer.toolbar > .right
{
    height: 100%
}

/* #endregion footer */

